@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,500;0,600;0,700;1,400&family=JetBrains+Mono&family=Rubik&display=swap');

:root {
  --b-font-main: "Rubik", "Crimson Pro", sans-serif;
  --b-font-mono: "Jetbrains Mono", monospace;

  --b-bg-1: #fdfcfc;
  --b-bg-2: #f7f7f7;

  --blanco-100: hsla(0, 0%, 99%, 1);
  --blanco-200: hsla(240, 8%, 95%, 1);
  --gris-300  : hsla(218, 11%, 85%, 1);
  --gris-500  : hsla(222, 7%, 59%, 1);
  --negro-700 : hsla(221, 10%, 30%, 1);
  --negro-800 : hsla(220, 16%, 22%, 1);
  --negro-900 : hsla(215, 22%, 15%, 1);

  --rojo-clarisimo : hsla(356, 52%, 88%, 1);
  --rojo-claro     : hsla(357, 47%, 74%, 1);
  --rojo-primario  : hsla(354, 42%, 56%, 1);
  --rojo-oscuro    : hsla(352, 28%, 46%, 1);
  --rojo-oscurisimo: hsla(340, 18%, 33%, 1);

  --naranja-clarisimo : hsla(16, 89%, 89%, 1);
  --naranja-claro     : hsla(17, 86%, 81%, 1);
  --naranja-primario  : hsla(17, 77%, 68%, 1);
  --naranja-oscuro    : hsla(14, 30%, 53%, 1);
  --naranja-oscurisimo: hsla(4, 15%, 36%, 1);

  --amarillo-clarisimo : hsla(44, 100%, 91%, 1);
  --amarillo-claro     : hsla(44, 100%, 82%, 1);
  --amarillo-primario  : hsla(47, 95%, 69%, 1);
  --amarillo-oscuro    : hsla(45, 35%, 53%, 1);
  --amarillo-oscurisimo: hsla(43, 15%, 36%, 1);

  --verde-clarisimo : hsla(150, 35%, 87%, 1);
  --verde-claro     : hsla(152, 37%, 74%, 1);
  --verde-primario  : hsla(154, 38%, 61%, 1);
  --verde-oscuro    : hsla(161, 21%, 46%, 1);
  --verde-oscurisimo: hsla(178, 20%, 33%, 1);

  --azul-clarisimo : hsla(218, 85%, 92%, 1);
  --azul-claro     : hsla(217, 89%, 85%, 1);
  --azul-primario  : hsla(215, 91%, 77%, 1);
  --azul-oscuro    : hsla(216, 32%, 56%, 1);
  --azul-oscurisimo: hsla(216, 22%, 38%, 1);
}

html {
  font-size: 13pt;
  font-feature-settings: "liga" 1;
}

.title {
  font-size: clamp(2rem, -1.0000rem + 16.0000vw, 4rem);
  font-weight: bold;
}

h1, #toc-title {
  font-family: "Fraunces", "Rubik", sans-serif;
  font-weight: 600;
  font-size: clamp(1.5rem, -1.0000rem + 16.0000vw, 3rem);
  text-align: center;

  margin-top: 5rem;
  padding: 1rem;
}

h2 {
  font-family: "Fraunces", "Rubik", sans-serif;
  font-weight: 500;
  font-size: clamp(1.3rem, -1.0000rem + 16.0000vw, 2rem);
}

h3 {
  font-family: "Fraunces", "Rubik", sans-serif;
  font-weight: 500;
  font-size: clamp(1.3rem, -1.0000rem + 16.0000vw, 1.5rem);
}

h4 {
  font-family: "Fraunces", "Rubik", sans-serif;
  font-weight: 400;
  font-size: clamp(1.2rem, -1.0000rem + 16.0000vw, 1.4rem);
}

p {
  text-align: left;
}

figure, img {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

figcaption {
  font-style: italic;
  color: #4e4c4c;

}

.author {
  text-align: center;
  font-family: 'Fraunces', 'Rubik', sans-serif;
  font-style: italic;
  font-size: clamp(1rem, -1.0000rem + 16.0000vw, 2rem);
}

a:visited {
  color: #c28a90
}

li {
  margin-top: 0.5em;
}

.MathJax {
  font-size: 1.2em !important;
}

code,
pre {
  color: #eeffff;
  --b-bg-1: #131413;
  --b-bg-2: #131413;
}

mjx-container {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
}

/* Prism.js */

pre[class*="language-"],
code[class*="language-"] {
  color: #eeffff;
  --b-bg-2: #131413;
  text-shadow: none;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*="language-"]::selection,
code[class*="language-"]::selection,
pre[class*="language-"]::mozselection,
code[class*="language-"]::mozselection {
  text-shadow: none;
  background: #316aaf;
}
@media print {
  pre[class*="language-"],
  code[class*="language-"] {
    text-shadow: none;
  }
}
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  background: #131413;
}
:not(pre) > code[class*="language-"] {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  color: #bf616a;
  background: #fcfcfc;
}
/*********************************************************
* Tokens
*/
.namespace {
  opacity: 0.7;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #424242;
}
.token.punctuation {
  color: #8d99ae;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #aea6d8;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #4ec18d;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #8d99ae;
  background: #131413;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #8d99ae;
}
.token.function {
  color: #bcbcbc;
}
.token.regex,
.token.important,
.token.variable {
  color: #eeffff;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
/*********************************************************
* Line highlighting
*/
pre[data-line] {
  position: relative;
}
pre[class*="language-"] > code[class*="language-"] {
  position: relative;
  z-index: 1;
}
.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: #f7ebc6;
  box-shadow: inset 5px 0 0 #f7d87c;
  z-index: 0;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}
